@import "tailwindcss";

@layer utilities {
  .font-plak-regular {
    font-family: "Neue Plak", sans-serif;
  }
  .font-plak-semibold {
    font-family: "Neue Plak", sans-serif;
  }
  .font-plak-bold {
    font-family: "Neue Plak", sans-serif;
  }

  .font-plak-condensed {
    font-family: "Neue Plak Condensed", sans-serif;
  }
}

@layer base {
  img,
  video {
    @apply h-full max-w-full;
  }
}
